<!-- Top Banner -->
<div style="background-color: #04143e;">
    <div class="text-white p-4 flex justify-between items-center mx-auto max-w-4xl">
      <div class="logo text-lg font-bold cursor-pointer">
        <a href="{{ '/' | relative_url }}">Schema for Data Exchange</a>
      </div>
      <div class="navigation flex gap-4">
        <a href="{{ '/' | relative_url }}" class="hover:text-blue-200">Home</a>
        <a href="{{ '/documentation/' | relative_url }}" class="hover:text-blue-200">Docs</a>
        <a href="{{ '/schema/' | relative_url }}" class="hover:text-blue-200">Schema</a>
        <a href="{{ '/about/' | relative_url }}" class="hover:text-blue-200">About Us</a>
      </div>
    </div>
  </div>
  