<!-- _includes/marital-status-enum-table.html -->
<h3 class="text-lg font-semibold mt-8">Marital Status Enum List</h3>
<div class="overflow-x-auto">
  <table class="table-auto w-full mt-4 text-left border-collapse">
    <thead>
      <tr class="bg-gray-800 text-white">
        <th class="px-4 py-3 border">Value</th>
        <th class="px-4 py-3 border">Description</th>
        <th class="px-4 py-3 border">Notes</th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
      {% for item in site.data.gender_enum %}
        <tr class="hover:bg-gray-100">
          <td class="border px-4 py-2">{{ item.field }}</td>
          <td class="border px-4 py-2">{{ item.description }}</td>
          <td class="border px-4 py-2">{{ item.notes }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
