<table class="table-auto w-full">
    <thead>
      <tr style="background-color: #666;" class="text-white">
        <th class="px-4 py-2">Field</th>
        <th class="px-4 py-2">Type</th>
        <th class="px-4 py-2">Description</th>
      </tr>
    </thead>
    <tbody class="bg-white">
      {% for field in site.data.schema %}
      <tr>
        <td class="border px-4 py-2">{{ field.name }}</td>
        <td class="border px-4 py-2">{{ field.type }}</td>
        <td class="border px-4 py-2">{{ field.description }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  