<!-- _includes/schema-table.html -->
<table class="table-auto w-full">
    <thead>
      <tr style="background-color: #666;" class="text-white">
        <th class="px-4 py-2">Field</th>
        <th class="px-4 py-2">Type</th>
        <th class="px-4 py-2">Example Label</th>
        <th class="px-4 py-2">Description</th>
        <th class="px-4 py-2">Required</th>
        <th class="px-4 py-2">Notes</th>
        <th class="px-4 py-2">Enumerated Values</th> <!-- New Column -->
      </tr>
    </thead>
    <tbody class="bg-white">
      {% for item in site.data.schema %}
      <tr>
        <td class="border px-4 py-2">{{ item.field }}</td>
        <td class="border px-4 py-2">{{ item.expected_types }}</td>
        <td class="border px-4 py-2">{{ item.example_label }}</td>
        <td class="border px-4 py-2">{{ item.description }}</td>
        <td class="border px-4 py-2">{{ item.required }}</td>
        <td class="border px-4 py-2">{{ item.notes }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>