<!-- _includes/schema-table.html -->
<table class="table-auto w-full">
    <thead>
      <tr style="background-color: #666;" class="text-white">
        <th class="px-4 py-2">Field</th>
        <th class="px-4 py-2">Type</th>
        <th class="px-4 py-2">Example Label</th>
        <th class="px-4 py-2">Description</th>
        <th class="px-4 py-2">Required</th>
        <th class="px-4 py-2">Notes</th>
        <th class="px-4 py-2">Enumerated Values</th> <!-- New Column -->
      </tr>
    </thead>
    <tbody class="bg-white">
      {% for field in site.data.schema %}
        <tr>
          <td class="border px-4 py-2">{{ field.name }}</td>
          <td class="border px-4 py-2">
            {{ field.type }}
            {% if field.type == 'object' or field.type == 'list' %}
              <!-- Handle nested fields if necessary -->
            {% endif %}
          </td>
          <td class="border px-4 py-2">{{ field.example_label }}</td>
          <td class="border px-4 py-2">{{ field.description }}</td>
          <td class="border px-4 py-2">{{ field.required }}</td>
          <td class="border px-4 py-2">{{ field.notes }}</td>
          <td class="border px-4 py-2">
            {% if field.enum_values %}
              <ul class="list-disc pl-5">
                {% for value in field.enum_values %}
                  <li>{{ value }}</li>
                {% endfor %}
              </ul>
            {% else %}
              N/A
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  